@import "../../../../../../../bower_components/neat/app/assets/stylesheets/neat-helpers";

/*
 * Typography
 * http://bourbon.io/docs/#font-stacks - use or add your own.
 */
$base-font-family:        -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font-family:   $base-font-family;
$heading-font-family:     $base-font-family;

/*
 * Font Sizes
 * Start with a px value and from there always use rems
 */
$base-font-size: 16px;

// Line height
$base-line-height:      1.5;
$heading-line-height:   1.2;

// Other Sizes
$base-border-radius:    3px;
$base-spacing:          rem($base-line-height * strip-units($base-font-size));
$small-spacing:         $base-spacing / 2;
$large-spacing:         $base-spacing * 2;
$base-z-index:          0;

/*
 * Colors
 * Variable names should describe what they contain.
 * Use '$color-' + a color description in the variable name
 * eg $color-blue instead of $color-primary.
 * These are just a few examples to get you going. Change as needed
 */
$color-blue:            #5959AB;
$color-gray-dark:       #333;
$color-gray-medium:     #999;
$color-gray-light:      #ddd;

$color-white:           #fff;
$color-black:           #000;

// Font Colors
$base-background-color: #fff;
$base-font-color:       $color-gray-dark;
$color-text-light:      mix($base-font-color, $color-white, 50%);
$action-color:          $color-blue;

// Border
$base-border-color:     $color-gray-light;
$base-border:           1px solid $base-border-color;

// Forms
$form-box-shadow:       inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


/* THE GRID
 * To see the following variables in action, check out the example HTML
 * and CSS in layout/layout.grid
 *
 *
 * Breakpoint widths
 * The px width here you want a new preakpoint to start. Change these to
 * best reflect where your site design breaks.
 *
 * IMPORTANT: we're assuming you start developing for palm and work wider
 * This is a best practice but can be tricky at times.  If you must build
 * from wide to narrow, it's recommended that you change the breakpoint
 * declarations from min-width to max-width.
 */
$lap-start:     em(620);
$desk-start:    em(980);
$wall-start:    em(1220);

/*
 * Body gutter
 * The breathing room applied to the site wrapper (body by default).
 * Important so 100% media queries don't go right to the screen edge.
 * If you want a header/footer that stretches the full width, remove
 * the body margin rule and add it to your main content wrapper instead.
 */
$body-gutter: $base-spacing;

/*
 * Max Widths
 * By default both palm and lap media queries are 100% wide and fluid to
 * best cover the wide range of mobile divices.  Desk and wall media queries
 * have a fixed width wrapper by default to give more control over the
 * design implementation.  If you want a fully responsive site at each width
 * change $desk-max and $wall-max to 100%.
 */
$palm-max:  100%;
$lap-max:   100%;
$desk-max:  $desk-start - (strip-units($body-gutter * 2));
$wall-max:  $wall-start - (strip-units($body-gutter * 2));

/*
 * Columns
 * Some arbitrary column definations to get you started.  Neat defaults to 12
 * so this seems sensible to stick to for wider screen media queries but change
 * as desired.
 */
$palm-cols: 12;
$lap-cols:  $palm-cols;
$desk-cols: $lap-cols;
$wall-cols: $desk-cols;

/*
 * Use the following variables when defining breakpoints in your CSS
 * Example @include media($wall) { ... }
 */
$lap:   new-breakpoint(min-width $lap-start $lap-cols)!global;
$desk:  new-breakpoint(min-width $desk-start $desk-cols)!global;
$wall:  new-breakpoint(min-width $wall-start $wall-cols)!global;

/*
 * Neat's Variables
 * Overriding the defaults for the variables required by Neat.
 * Assuming you're starting with Palm and working up from there.
 */
$max-width:     $palm-max;
$grid-columns:  $palm-cols;
$gutter:        em($large-spacing * 16);
