html {
  @include media($lap) {
    background: $color-gray-light;
    padding: $base-spacing;
  }
}

body {
  @include outer-container(100ch);
  background: $color-white;
  padding: 0 $base-spacing;

  @include media($lap) {
    box-shadow: 0 ($base-spacing / 8) ($base-spacing / 2) (-$base-spacing / 8) $base-font-color;
  }
}
